<?xml version="1.0"?>
<!--
  ~ Copyright [2017] Illia Voinov <ilya.voinov@yahoo.com>
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<config>
    <modules>
        <IV_NovaPoshta>
            <version>0.1.0</version>
        </IV_NovaPoshta>
    </modules>
    <global>
        <models>
            <novaposhta>
                <class>IV_NovaPoshta_Model</class>
                <resourceModel>novaposhta_resource</resourceModel>
            </novaposhta>
            <novaposhta_resource>
                <class>IV_NovaPoshta_Model_Resource</class>
                <entities>
                    <entity_area>
                        <table>novaposhta_entity_area</table>
                    </entity_area>
                    <entity_city>
                        <table>novaposhta_entity_city</table>
                    </entity_city>
                    <entity_warehouse>
                        <table>novaposhta_entity_warehouse</table>
                    </entity_warehouse>
                </entities>
            </novaposhta_resource>
            <directory_resource>
                <rewrite>
                    <region_collection>IV_NovaPoshta_Model_Resource_Directory_Region_Collection</region_collection>
                </rewrite>
            </directory_resource>
        </models>
        <blocks>
            <novaposhta>
                <class>IV_NovaPoshta_Block</class>
            </novaposhta>
        </blocks>
        <resources>
            <novaposhta_setup>
                <setup>
                    <module>IV_NovaPoshta</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </novaposhta_setup>
        </resources>
        <helpers>
            <novaposhta>
                <class>IV_NovaPoshta_Helper</class>
            </novaposhta>
        </helpers>
    </global>
    <default>
        <carriers>
            <novaposhta>
                <active>1</active>
                <model>novaposhta/carrier</model>
                <title>Novaposhta</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <express_max_weight>1</express_max_weight>
                <api_url>https://api.novaposhta.ua/v2.0/</api_url>
                <api_key>1425a0d7aff525821067596c1d6f9524</api_key>
                <!-- Novaposhta Kyiv city reference -->
                <city_sender>8d5a980d-391c-11dd-90d9-001a92567626</city_sender>
            </novaposhta>
        </carriers>
    </default>
    <frontend>
        <events>
            <sales_quote_save_before>
                <observers>
                    <iv_novaposhta>
                        <class>novaposhta/observer</class>
                        <method>saveNovaposhtaWarehouse</method>
                    </iv_novaposhta>
                </observers>
            </sales_quote_save_before>
        </events>
        <routers>
            <novaposhta>
                <use>standard</use>
                <args>
                    <module>IV_NovaPoshta</module>
                    <frontName>novaposhta</frontName>
                </args>
            </novaposhta>
        </routers>
        <layout>
            <updates>
                <iv_novaposhta>
                    <file>novaposhta.xml</file>
                </iv_novaposhta>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <novaposhta before="Mage_Index_Adminhtml">IV_NovaPoshta_Adminhtml</novaposhta>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <iv_novaposhta>
                    <file>novaposhta.xml</file>
                </iv_novaposhta>
            </updates>
        </layout>
    </adminhtml>
</config>